.THIS .slds-edit{
    position: absolute;
    right: 4px;
    bottom: 4px;
    visibility:hidden;
}

.THIS .slds-form-element_readonly{
    position:relative;
}

.THIS .slds-form-element_readonly:hover .slds-edit{
     visibility:visible;
}